<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <servers>
    <server>
      <id>test-release<id>
      <username>admin</username>
      <password>123pp\\</password>
    </server>

    <server>
      <id>test-release</id>
      <username>admin</username>
      <password>123pp\\</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>test-release</id>
      <name>test-release</name>
      <url>http://13.126.60.4:8081/repository/test-release/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

</settings>
